html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}



* {
  box-sizing: border-box;
}

@media only screen and (min-width: 200px ) and (max-width: 900px) {
  body {
  align-items: center;
  }
  .info_info__nC8Sc{
    padding: 51px 37px;
  }
  
  .info_about__4tdVX{
    padding: 0px 19px;
  }
  }
  
  
